.login-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff33;
    padding: 20px 10px 20px 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.login-form h2 {
    margin: 0px;
}

.login-form form p {
    margin: 30px 10px;
    font-size: 0.8em;
    margin: 20px 10px 0px 10px;
}

.login-form button {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
}

.form-label input {
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
    width: 80%;
}

button.form-label {
    width: 90%;
}


/* Logo is not centered due to rocket trail */

#main-icon {
    transform: translateX(-20px);
}