.first-page .clear-button {
    border: 2px solid #ecb365;
}

.my-button {
    border: 2px solid rgb(69, 141, 236);
    margin: 0px 10px;
}

.clear-button {
    margin: 0px 10px;
}

.active {
    display: inline;
}

.disabled {
    display: none;
}